.communityProjects {
    margin: 50px 100px;
    .heading {
        text-align: center;
        margin: 50px 0px;
        h2 {
            font-size: 36px;
            font-weight: 400;
        }
        p {
            margin: 5px 150px 0 0;
        }
    }
    .projects {
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}
