@use "components" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// #region Base styles
/********************
 * BASE STYLES
 ********************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: none;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--c-bg);
  color: white;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: "Montserrat", sans-serif;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
// #endregion

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: background 150ms ease;
}

.active {
  background: rgba(#000, 32%);
}

@supports (backdrop-filter: blur(3px)) {
  .active {
    background: rgba(#000, 32%);
    backdrop-filter: blur(3px);
  }
}

.content-wrapper {
  padding: 0.5rem 2.5rem;
  margin: 0 auto;
  max-width: 1440px;
}

section:nth-child(2) {
  overflow: hidden;
}

.hero-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
