.home {
    .heading {
        h2 {
            font-size: 48px;
        }
        p {
            font-size: 18px;
            color: #bdbdbd;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            button {
                border: none;
                margin: 25px 0;
                padding: 15px;
                background-color: #2ca0d3;
                color: white;
                font-size: 20px;
                border-radius: 35px;
                -webkit-border-radius: 35px;
                -moz-border-radius: 35px;
                -ms-border-radius: 35px;
                -o-border-radius: 35px;
            }
        }
    }
    section {
        margin: 105px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            margin: 0 65px;
            .icons {
                margin: 0;
                display: flex;
                justify-content: space-around;
                font-size: 55px;
            }
        }
    }
}
