.home .heading h2 {
    font-size: 48px;
}

.home .heading p {
    font-size: 18px;
    color: #bdbdbd;
}

.home section {
    margin: 105px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .heading .buttons {
    display: flex;
    justify-content: space-between;
}

.home .heading .buttons button {
    border: none;
    margin: 25px 0;
    padding: 15px;
    background-color: #2ca0d3;
    color: white;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.home section div {
    margin: 0 65px;
}

.home .heading div.icons {
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-size: 55px;
}

.home .heading div.partners {
    margin: 35px 0;
}
