.rulesInfo section {
    margin: 50px 245px;
    h2 {
        font-size: 36px;
        font-weight: 400;
        text-align: left;
    }
    p em {
        color: #bdbdbd;
    }

    div {
        margin: 25px 0;
        p {
            font-size: 18px;
            margin: 10px 0;
        }
        div {
            margin: 0 55px;
        }
    }
}
