* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(55, 55, 55);
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.container {
  margin: 0 75px
}

.center{
  text-align: center;
}