.home .heading {
  margin: 220px 10%;
  text-align: center;
}

.home .heading h1{
  font-size: 45px;
}

.home .heading p{
  font-size: 25px;
}

.home .heading .buttons button{
  margin: 50px;
}

.home section{
  margin: 350px 0;
}



.aboutUs div h2{
  font-size: 30px;
}

.buttons button {
  margin: 15px 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 17px;
}

.aboutUs div {
  margin: 50px 0;
}

.aboutUs p {
  margin: 10px 30px;
  font-size: 20px;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  text-align: center;
}

.features img{
    width: 225px;
    margin: 0 0 15px 0;
    border-radius: 50%;
}

.staffTeam{
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.parentStaffTeam{
  margin: 25px
}

