.navbar .brand img {
    width: 75px;
    margin: 0 10px;
    border-radius: 50%;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.buttons {
    align-items: center;
    justify-content: center;
}

.buttons ul {
    align-items: center;
    justify-content: center;
}

.buttons ul li a {
    color: white;
    cursor: pointer;
}

.buttons div button {
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: rgb(151, 6, 255);
    color: white;
}

.buttons ul li,
.buttons div button {
    margin: 0 20px 0 10px;
}

.buttons ul li {
    list-style-type: none;
}

.navbar .brand {
    justify-content: center;
    align-items: center;
    display: flex;
}


.brand h1{
    cursor: pointer;
}