.main{
    text-align: center;
}

.bigPicture{
    display: grid;
    grid-template-columns: repeat(4, 25%);

}
.bigPicture div {
    text-align: center;
    margin: 50px
}

.bigPicture div img{
    width: 150px;
}