.main{
    text-align: center;
}

.bigPicture{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

@media only screen and (max-width: 1200px) {
    .bigPicture{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}

@media only screen and (max-width: 500px) {
    .bigPicture{
        display: grid;
        grid-template-columns: 100%
    }
}


.bigPicture div {
    text-align: center;
    margin: 50px
}

.bigPicture div img{
    width: 150px;
}