.staffCard{
    margin: 50px 25px;
    border-radius: 25px;
    text-align: center;
}

.staffCard h3{
    font-size: 35px;
}

.staffCard h4{
    font-size: 25px;
}

.staffCard * {
    margin: 15px
}
.staffinner {
    margin-top:0px;
    display: block;
    height:100%;
    
    border-radius: 50%;
}
.staffouter {
    display: flex;
    justify-content: center ;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
